body {
  background-color: rgb(32, 32, 32);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

label {
  color: white;
  margin-bottom: 1rem;
  margin-top: 3rem;
  display: block;
}

input {
  margin-bottom: 1rem;
  display: block;
}

h2 {
  color: white;
  margin-top: 3rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: white;
  margin-bottom: 1rem;
  list-style: none;
}
